@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.soft_skills {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 1rem;
	z-index: 2; // Ensure the content is above the opacity layer
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	padding: 0 45px;
	&-title {
		color: $primary-color;
		font-family: $montserrat-alternates-regular;
		font-size: $font-size-xlarge;
		z-index: 2;
		bottom: 20rem;
		left: 45px;
		position: relative;
		width: 35%;
	}
	&-box {
		h3 {
			font-size: 13px;
			font-family: $montserrat-alternates-bold;
		}
		p {
			font-size: 12.5px;
			font-family: $montserrat-alternates-light;
			font-weight: 500;
		}
	}
	&-circle {
		width: 10px;
		height: 10px;
		background-color: white;
		display: block;
		border-radius: 50%;
	}
	&-top {
		display: flex;
		flex-direction: column;
		gap: 6rem;
		text-align: center;
		align-items: flex-end;
		width: 110px;
		> :first-child {
			position: relative;
			bottom: 2.5rem;
		}
	}
	&-middle {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&-bottom {
		display: flex;
		flex-direction: column;
		gap: 8rem;
		position: relative;
		top: 8rem;
		width: 110px;
		> :first-child {
			position: relative;
			// bottom: 2rem;
		}
	}
}

.line {
	width: 3px;
	height: 8rem;
	background-color: white;
	&-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.soft_skills-layer {
	background-image: url(../../assets/Images/g.png);
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	padding: 0 45px;
}

.soft_skills-background {
	height: 50rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	background-color: #191919;
	&-box {
		background-image: url(../../assets/Images/g-final.png);
		height: 42rem;
		width: 30rem;
		background-size: cover;
		background-position: center;
		overflow: hidden;
	}
}
.opacity-layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6); // Black with 50% opacity
	z-index: 1; // Ensure the layer is on top
}

.highlight {
	color: $secondary-color;
	letter-spacing: 3px;
	font-weight: 800;
	-webkit-text-stroke-color: #a536cf;
	-webkit-text-stroke-width: 0.4px;
	//background-color: rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	display: block;
}

.spacer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 3rem;
	&-line {
		height: 10px;
		border-bottom: 2px solid white;
		width: 60%;
		justify-content: center;
		margin-top: 3rem;
	}
}
