// Font Size Variables
$font-size-base: 16px;
$font-size-small: 12px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-size-xlarge: 32px;
$font-size-xxlarge: 40px;

// Font Variables
$roc-grotesk-light: "roc-grotesk", sans-serif;
$roc-grotesk-regular: "roc-grotesk", sans-serif;
$roc-grotesk-medium: "roc-grotesk", sans-serif;

$montserrat-alternates-light: "Montserrat Alternates", sans-serif;
$montserrat-alternates-regular: "Montserrat Alternates", sans-serif;
$montserrat-alternates-medium: "Montserrat Alternates", sans-serif;
$montserrat-alternates-bold: "Montserrat Alternates", sans-serif;
