@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.skills {
	background-color: $background-color-dark;

	.spacer {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 3rem;
		&-line {
			height: 10px;
			border-bottom: 2px solid white;
			width: 60%;
			justify-content: center;
			margin-top: 3rem;
		}
	}
	&-container {
		padding: 0 45px 3rem;
	}
	&-title,
	&-subtitle {
		color: $primary-color;
		font-family: $montserrat-alternates-regular;
		font-size: $font-size-xlarge;
	}

	&-title {
		font-weight: 600;
	}

	&-subtitle {
		font-weight: 400;
		padding: 2rem 0 2rem 0;
	}
	p {
		color: $text-color;
		font-family: $roc-grotesk-regular;
		font-size: $font-size-medium;
	}
	.languages {
		.language {
			img {
				width: 70px;
				height: 50px;
			}
		}
	}
}
.accent {
	color: $secondary-color;
}
.highlight {
	color: $primary-color;
	font-weight: 600;
}

.circle-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

@media only screen and (min-width: 660px) {
	.skills {
		&-container {
			padding: 0 70px 6rem;
			margin-bottom: 3rem;
		}
		&-title {
			font-size: $font-size-xxlarge;
		}
		p {
			font-size: $font-size-large;
		}
		&-subtitle {
			font-size: $font-size-xxlarge;
		}
	}
}

@media only screen and (min-width: 960px) {
	.skills {
		&-container {
			margin-bottom: 6rem;
		}
	}
}

@media only screen and (min-width: 1200px) {
	.skills {
		&-container {
			padding: 0 135px 8rem;
		}
		&-subtitle {
			padding: 4rem 0 4rem;
		}
	}
}
