@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.slider {
	padding: 0 45px;
}
.slick-slide {
	text-align: center;
}

.slick-slide img {
	width: 80%;
	border-radius: 40px;
	margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
	color: white;
}

.slick-dots li button:before {
	color: white;
}

.slick-dots li.slick-active button:before {
	color: black;
}

.intro {
	padding: 1rem 45px;
	margin-top: 2rem;
	p {
		font-family: $roc-grotesk-light;
	}
}

@media only screen and (min-width: 660px) {
	.slider {
		padding: 0 125px;
		//margin: 4rem 0;
	}
	.intro {
		padding: 1rem 70px;
	}
	.slick-slide img {
		width: 90%;
	}
	.slick-prev:before,
	.slick-next:before {
		font-size: 35px;
	}

	.slick-prev {
		left: -70px; /* Adjust this value to give space for the left arrow */
	}

	.slick-next {
		right: -50px; /* Adjust this value to give space for the right arrow */
	}

	.intro {
		p {
			font-size: 18px;
		}
	}
}
