@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.slider {
	padding: 0 45px;
	flex-shrink: 0; // Prevent shrinking
	flex-grow: 1;
}
.slick-slide {
	text-align: center;
	position: relative;
}

.slick-slide img {
	width: 80%;
	border-radius: 40px;
	margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
	color: white;
}

.slick-dots li button:before {
	color: white;
}

.slick-dots li.slick-active button:before {
	color: black;
}

.intro {
	padding: 1rem 45px;
	margin-top: 2rem;
	p {
		font-family: $roc-grotesk-light;
		color: $text-color;
	}
}
#about-section {
	background-color: #242424;
}

.about {
	position: relative;
	height: 25vh;
	&_container {
		display: flex;
		flex-direction: column;
	}
	&_overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5); /* Adjust the opacity here */
	}
	&_box {
		display: flex;
		flex-direction: column;
		gap: 6rem;
		align-items: center;
		width: 100%;
	}

	.text-layer {
		align-items: center;
		//justify-content: center;
		position: relative;
		top: 50%;
		left: 50%;
		width: 100%;
		display: flex;
		transform: translate(-50%, 30%);
		text-align: center;
		color: white; /* Or any color that contrasts with your background */
	}

	.text-layer p {
		margin: 0;
		position: absolute;
		width: 98%;
		line-height: 3.5rem;
		text-align: left;
	}

	.first-layer {
		z-index: 2;
		-webkit-text-stroke-width: 0.2px;
		-webkit-text-stroke-color: white;
		font-weight: bolder;
		font-size: 75px;
		color: transparent;
		position: relative;
		font-family: $montserrat-alternates-light;
	}

	.second-layer {
		position: relative;
		z-index: 1;
		top: 0;
		left: 0;
		text-align: left;
		display: flex;
		flex-direction: column;
		padding: 0 45px;
		letter-spacing: 2px;
		&_text {
			color: $primary-color;
			font-family: $montserrat-alternates-bold;
			font-weight: bold;
			font-size: $font-size-xlarge;
			line-height: 2.5rem;
			&-bottom {
				font-size: $font-size-xlarge;
				line-height: 2rem;
				font-weight: lighter;
				padding-top: 5px;
			}
		}
		.accent {
			color: $secondary-color;
		}
	}
}

@media only screen and (min-width: 660px) {
	.slider {
		padding: 0 70px;
	}
	.slick-slide img {
	}

	.about {
		height: 26vh;
		&_wrapper {
			display: flex;
			flex-direction: column;
			gap: 6rem;
		}
		.first-layer {
			font-size: 150px;
		}
		.text-layer p {
			line-height: 8rem;
			top: 0rem;
		}
		.second-layer {
			top: 6rem;
			padding: 0 70px;
			&_text {
				font-size: 40px;
			}
		}
	}
	.intro {
		padding: 0 70px;
		//width: 40%;
	}
}

@media only screen and (min-width: 960px) {
	.about {
		&_container {
			gap: 2rem;
		}
	}
	.slider {
		padding: 0 70px;
	}
}

@media only screen and (min-width: 1240px) {
	.slider {
		padding: 0;
		width: 40%;
	}
	.intro {
		padding: 0;
		width: 40%;
		p {
			font-size: $font-size-medium;
		}
	}
	.about {
		&_wrapper {
			gap: 0;
		}
		&_container {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 0 135px;
			gap: 4rem;
		}
	}
	.slick-slide img {
		max-height: 100%; // Ensure images do not overflow the slider height
		object-fit: cover;
	}
	.slick-prev:before {
		left: 0;
	}
	.slick-next:before {
		left: 5;
	}
}
