@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.cloud {
	&_container {
		display: flex;
		justify-content: space-between;
		padding-bottom: 4rem;
		gap: 2rem;
	}
	img {
		flex-grow: 1;
		width: 20%;
		height: auto;
		border: 2px solid $secondary-color;
		padding: 2rem;
		border-radius: 10px;
	}
	.hidden {
		display: none;
	}
}

@media only screen and (min-width: 660px) {
	.cloud {
		.hidden {
			display: block;
		}
	}
}
