@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.box {
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* Create 2 equal columns */
	justify-content: space-between; /* Distribute space between columns */
	align-content: space-between; /* Distribute space between rows */
	gap: 0; /* Remove the gap between grid items */
	padding: 2rem 0;
	img {
		width: 5rem;
		height: 5rem;
	}
}
