@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between; /* Distributes space between items */
	gap: 2rem; /* Adds space between items */
	img {
		background-color: white;
		width: calc(
			50% - 1rem
		); /* Each image takes up 50% of the container width minus the gap */
		//margin-bottom: 2rem; /* Adds space between rows */
		height: auto;
		border: 2px solid white;
		padding: 2rem;
		border-radius: 10px;
	}
}
