@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.box {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	justify-content: space-between;
	align-items: center;

	img {
		max-width: 100%; /* Ensure the image does not exceed the grid cell's width */
		max-height: 100%;
		border: 2px solid $secondary-color;
		padding: 2rem; /* Adjust padding as necessary */
		border-radius: 10px;
	}
}

@media only screen and (min-width: 660px) {
	.box {
		grid-template-columns: repeat(4, 1fr);
		gap: 2.2;
	}

	.box img {
		//width: 16.6vw; /* Adjust size for tablets */
		padding: 2rem;
	}
}

@media only screen and (min-width: 960px) {
	.box {
		gap: 4rem;

		img {
			width: auto;
			padding: 5rem;
		}
	}
}
