@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

.circle-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 25vh;
	flex-direction: row;
}

.circle {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e6e6e6; /* Fallback for browsers that do not support conic-gradient */
	position: relative;
}

.inner-circle {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: $background-color-dark;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

.icon {
	width: 34px;
	height: 34px;
	margin-bottom: 5px;
}

.percentage {
	font-size: $font-size-small;
	font-weight: bold;
	color: $primary-color;
}
