.progress-bar {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;

	&__icon {
		width: 40px;
		height: 40px;
		margin-right: 1rem;
	}

	&__track {
		flex: 1;
		height: 8px;
		background-color: #e0e0e0;
		border-radius: 4px;
		overflow: hidden;
	}

	&__fill {
		height: 100%;
		background-color: #a64ac9; /* Adjust this color to match your design */
		border-radius: 4px;
	}
}

@media only screen and (min-width: 660px) {
	.progress-bar {
		&__icon {
			width: 60px;
			height: 60px;
		}
	}
}

@media only screen and (min-width: 960px) {
	.languages {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 1rem; /* Adjust gap between flex items */
	}

	.progress-bar {
		display: flex;
		align-items: center;
		flex: 1 1 calc(33.33% - 1rem); /* Two columns layout */
		margin-bottom: 1rem;
	}
	.languages .progress-bar:nth-last-child(-n + 2) {
		//flex: 1 1 calc(20% - 1rem); /* Smaller size for last two items */
		//background-color: red;
		flex: 1 1 calc(20% - 1rem) !important;
		margin-right: 75px;
		margin-left: 75px;
	}
}
